:host {
  display: block;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

div {
  animation: skeleton-loading 1.5s ease-in-out infinite;
}
